:root{
    font-family: 'Gilroy ☞';
}

.title{
    display: flex;
   width: 100vw;
   height: 30vh;
   align-items: center;
    justify-content: center;
}

.title h1{
  margin-top: -50px;
    text-align: center;
}

.back img{
    margin-left: 50px;
    margin-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top: -80px; 
    height: 20vh; 
  }

.container input{
    margin-top: 12px;
    width: 300px;
    height: 25px;
    padding: 10px;
    border:  none;
    border-bottom: 2px solid #999;
}

.container input[type="password"]:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #999;
  }

  .container input[type="tel"]:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #999;
  }

  .phone-input{
    margin-top: 20px;
    display: flex;
}

#phone{
    margin-top: -0.6px;
    width: 150px;
    margin-left: 10px;
}

.country{
    margin-top: 12px;
    width: 140px;
    padding: 10px;
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#newPassword{
  margin-top: 30px;
}

#eyeIcon1 {
    position: absolute;
    top: 390px;
    right: 20%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .container input::placeholder{
    font-size: 16px;
  }
  
  #eyeIcon1 i {
    width: 20px;
    height: 20px;
  }
 
#eyeIcon2 {
    position: fixed;
    top: 468px;
    right: 21%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  #eyeIcon2 i {
    width: 20px;
    height: 20px;
  }
 
.container2{
  margin-top: 20px;
}

.Login{
    margin-top: 80px;
    margin-left: 50px;
    color: white;
    font-family: "Gilroy ☞";
    font-size: 18px;
    font-weight: 600;
    border-style: none;
    padding: 12px;
    width: 320px;
    border-radius: 8px;
    background-color: #2980B9;
}
