:root{
    font-family: 'Gilroy ☞';
}

.back img{
    margin: 30px;
    margin-left: 50px;
}

.title{
    display: flex;
    flex-direction:column;
   width: 100vw;
   height: 30vh;
   align-items: left;
    justify-content: center;
}

.title h1{
    text-align: left;
    margin-left: 20px;
}

.subtitle{
    margin-top: -10px;
    margin-left: 20px;
    display: flex;
    flex-direction:column;
    align-items: left;
    justify-content: center;
}

.subtitle p{
    font-size: 15px;
    width: 380px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: left;
    margin-top: -20px; 
    margin-left: 20px;
    height: 20vh; 
  }

.container input{
    font-size: 15px;
    margin-top: 12px;
    width: 350px;
    height: 25px;
    padding: 10px;
    border:  none;
    border-bottom: 2px solid #999;
}

.container input[type="email"]:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #999;
  }

.Login{
    margin-top: 30px;
    color: white;
    font-family: "Gilroy ☞";
    font-size: 18px;
    font-weight: 600;
    border-style: none;
    padding: 12px;
    width: 380px;
    border-radius: 8px;
    background-color: #2980B9;
}
